---
interface Props {
    item: object
}

let {item} = Astro.props;

// example. https://www.youtube.com/embed/25FfQ9MEQE8
if(item.media_type === 'video') {
    // let youtubeVideoId = item.url;
    let youtubeUrlSegments = item.url.split('/');
    let youtubeID = youtubeUrlSegments[youtubeUrlSegments.length - 1];
    item = {...item, url: `https://img.youtube.com/vi/${youtubeID}/0.jpg`};
}

---

<li>
    <article>
        <figure>
            <a href={item.hdurl} data-fancybox="apod-gallery" data-caption={item.title}>
                <img loading="lazy" src={item.url} alt={item.title} />
            </a>

        </figure>
        <header>
            <h3>{item.title}</h3>
            <date>{item.date}</date>
        </header>
        <div class="contents">
            <p>{item.explanation}</p>
        </div>
    </article>
</li>

<script>

    import { Fancybox } from "@fancyapps/ui";
    import "@fancyapps/ui/dist/fancybox/fancybox.css";

    Fancybox.bind('[data-fancybox="apod-gallery"]', {
        // Your custom options
        Toolbar: {
            display: {
                left: ["infobar"],
                middle: [
                    "zoomIn",
                    "zoomOut",
                    "toggle1to1",
                ],
                right: ["close"],
            },
        },
    });

</script>

<style lang="scss">

    figure {
        overflow: hidden;
        aspect-ratio: 1/1;
        background-color: #fd8f8f;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    header {
        margin-block: 1rem 1.5rem;
    }

</style>